<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="main">
    <h1><%= title %></h1>
    <div class="parent">
      <div class="card orange"><a href="/login/user"><h3>User</h3></a></div>
      <div class="card purple"><a href="/login/delivery"><h3>Delivery</h3></a></div>
      <div class="card blue"><a href="/login/restaurant"><h3>Restaurant</h3></a></div>
      <div class="card green"><a href="/super/"><h3>Admin</h3></a></div>
    </div>
  </div>

  <footer> <small>&copy; Copyright 2021, Ibrahim Mešan</small> </footer>
  </body>
</html>
