body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    min-height: 100vh;
}
h1 {
    text-align: center;
    color: white;
}
#lat, #lng {
    display: none;
}
.container {
    background-color: transparent;
    margin:auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}