.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #5a4d6e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    background-color: transparent;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: 19vw;
    align-self: center;
}
h1{
    top: 0;
    margin: 0 auto;
    justify-content: center;
    display: inline-flex;
    text-align: center;
}

#menu {
    font-size: 8vh;
    cursor:pointer;
    margin-top: 5vh;
    margin-left: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #874be3;
    background-color: transparent;
}

#chat {
    font-size: 8vh;
    cursor:pointer;
    margin-top: 5vh;
    margin-left: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #874be3;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.active {
    background-color: #874be3;
    color: white;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #5a4d6e;
    color: white;
}
/* Modal Body */
.modal-body {padding: 2px 16px;
    margin-bottom: 5vh;
}
.modal-body2 , .cht {
    max-height: 70%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.container {
    padding: 16px;
}


body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.text-small {
    font-size: 2.5vh;
}
small.small {
    font-size: 1.5vh;
}
p.small {
    font-size: 1.5vh;
}

.messages-box,
.chat-box {
    height: 70vh;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}
.mine {
    float: right;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgba(255,255,255,0.4);
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

* {box-sizing:border-box}
.dropdown-btn {
    width: 60vw;
    height: 14vh;
}
#ai {
    padding: 2vh 4vw;
    text-align: left;
    color: #a180c4;
    font-weight: bolder;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 10px;
    width: 40vw;
    height: 17vh;
    display: grid;
    background-color: #a180c4;
    color: white;
}
.c1 {
    font-size: 10vh;
    padding: 2vw;
    color: #2ad151;
}
.c1:hover {
    color: #42f58d;
}
.jean {
    grid-column: 1;
}
.form-inline {
    grid-column: 2;
}
.custom-select {
    width: 100%;
}
.notification {
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: orange;
    color: white;
}